#cartItems .cartItem{
  border-bottom: 1px solid #DDD;
  padding-top:15px;
  padding-bottom: 15px;
}
#cartItems .cartItemHeader{
  border-bottom: 1px solid #DDD;
}

#cartItems .cartItem .productPicture{
  width: 100%;
  height: auto;
}
#cartItems .price{
  font-weight: bold;
  color:red;
}
.pdf-container{
  width: 21cm;
  height: 29.7cm;
  position: relative;
  z-index: 1;
}
.pdf-container section#products table tfoot td[colspan]{
  text-align: right;
}
.pdf-container section#products table tfoot .total *{
  font-weight: bold;
}

#products #newProduct a{
  font-size: 5em;
}