#cartItems .cartItem{
  border-bottom: 1px solid #DDD;
  padding-top:15px;
  padding-bottom: 15px;
}
#cartItems .cartItemHeader{
  border-bottom: 1px solid #DDD;
}

#cartItems .cartItem .productPicture{
  width: 100%;
  height: auto;
}
#cartItems .price{
  font-weight: bold;
  color:red;
}
